[submodule "libs/tmux-resurrect"]
	path = libs/tmux-resurrect
	url = https://github.com/tmux-plugins/tmux-resurrect
[submodule "libs/tmux-continuum"]
	path = libs/tmux-continuum
	url = https://github.com/tmux-plugins/tmux-continuum
