[user]
	email = edisonhello@hotmail.com
	name = edisonhello

[alias]
lg = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)'
lgoc = log --graph --abbrev-commit --decorate --no-color --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
commit = commit -s

ada = "add ."
rbi = "rebase -i"
rbc = "rebase --continue"
cam = "commit --amend"
stu = "status"
sts = "stash"
crr = "!git gc --prune=now && git remote prune $1 && git fetch $1 && :"

ignore = update-index --skip-worktree
unignore = update-index --no-skip-worktree
acp = "!git add -A && git commit -m 'auto commit' && git push"

[pull]
	rebase = true
[help]
	autocorrect = 1
[push]
	default = upstream
